@media only screen and (max-width: 767px) {
    .profiles-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}


/* Tablet: 768px */
@media only screen and (min-width: 768px) {
    body {
        background-color: aliceblue;
        width: 95%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }
    
    #nav-links {
        display: flex;
    }

    .logo {
        flex-basis: 30%
    }

    nav {
        flex-basis: 70%;
    }

    .banner {
        flex-direction: row;
        align-items: stretch
    }

    .text {
        flex-basis: 30%;
        text-align: left;
    }

    .text h1 {
        font-size: 7.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(117, 149, 255);
    }

    .image {
        flex-basis: 70%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eps {
        flex-direction: row;
        height: auto;
    }

    .thumbnail {
        height: 300px;
        border-radius: 15px 0 0 15px;
        flex-basis: 40%;
    }

    .eps-detail {
        height: 300px;
        flex-grow: 1;
        background-color: rgb(117, 149, 255);
        border-radius: 0 15px 15px 0;
    }

    .podcast {
        display: flex;
        flex-direction: column;
    }

    .g-profile {
        border: 4px solid rgb(117, 149, 255)
    }

    .g-profile img {
        border: 2px solid rgb(117, 149, 255)
    }

    footer section {
        height: 90px;
        width: 100%;
        background-color: rgb(117, 149, 255);
    }
}







/* Laptop:  992px */
@media only screen and (min-width: 992px) {
    body {
        background-color: white;
        width: 90%;
        margin: 0 auto;
    }

    .text h1{
        color: lightblue;
    }
    
    .podcast {
        flex-direction: row;
        justify-content: space-between;
    }

    .podcasters {
        flex-basis: 30%;
    }

    .podcasters h3 {
        font-size: 23px;
    }
    
    .profile-info {
        margin-right: 5%;
    }

    .profile {
        width: 45%;
        height: 100px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-self: center;
    }

    

    .profiles-wrapper {
        flex-direction: row;
    }

    .episodes {
        flex-basis: 70%;
    }

    .episodes h3 {
        font-size: 23px;
        text-align: center;
    }

    .eps-detail {
        background-color: lightblue;
    }

    .profile-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .profile-info h4,
    .profile-info p{
        justify-content: flex-end;
    }

    .profiles-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .g-profile {
        border: 4px solid lightblue
    }

    .g-profile img {
        border: 2px solid lightblue
    }

    footer section {
        height: 90px;
        width: 100%;
        background-color: lightblue;
    }
}







/* Desktop: 1248px */
@media only screen and (min-width: 1248px) {
    body {
        background-color: white;
        width: 75%;
        margin: 0 auto;
    }
    text h1 {
        color: lightpink;
    }

    
}